# Ignore Dockerfile itself
Dockerfile

# Node modules (always better to install inside container)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env
.env.local

# OS / editor junk
.DS_Store
*.swp
*.swo
.idea
.vscode

# Git
.git
.gitignore
k8s
